* {
    font-family: Arial, Helvetica, sans-serif;
    /* border: solid 1px; */
    vertical-align: middle;
    background-color: #242526;
    color: #e4e6eb;
    box-sizing: border-box;
    position: relative;
}

html,body {
    margin: 0;
}

.container {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.top {
    height: 50px;
    margin-bottom: 5px;
}

.cover {
    height: 300px;
    background-position: 0;
    background-image: url(https://scontent.ftpe7-2.fna.fbcdn.net/v/t39.30808-6/280202705_1632923873728490_7186756583553572368_n.jpg?stp=dst-jpg_p720x720&_nc_cat=111&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=OW61XQaso0cQ7kNvgEQ4rbA&_nc_ht=scontent.ftpe7-2.fna&oh=00_AYBu_HXRhggp0Plm6dAotYBBboAGPfRpqjG2FXvzCMXd3g&oe=66C3778C);
}

.mid {
    height: 150px;
}

.bottom {
    height: 200px;
    min-width: 350px;
    padding: 20px;
}

.icon {
    height: 40px;
    margin: 8px;
    border-radius: 100%;
}

input {
    width: 250px;
    height: 30px;
    margin: 2px;
    padding: 10px;
    border-radius: 15px;
    border: solid 0px;
    background-color: #3a3b3c;
    color: #b0b3b8;
}

.person{
    width: 170px;
    height: 170px;
    background-size: 100% auto;
    background-image: url('https://scontent.ftpe7-1.fna.fbcdn.net/v/t39.30808-6/447852143_2144027442618128_1897818902236200588_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=s_brO9Wtw14Q7kNvgHPY_dE&_nc_ht=scontent.ftpe7-1.fna&oh=00_AYAV__CeggrP-BsfkNZK22AtS1bRTqgsgd_z01D9qre93w&oe=66C385AA');
    border-radius: 100%;
    border: #e4e6eb 1px solid;
    top: -25px;
    left: 5px;
}

.names{
    left: 155%;
    top: 50%;
    transform: translate(-50%,-50%);
    /* text-align: center;  */
}

.name{
    font-size: 25px;
    font-weight: 800;
    color: #e4e6eb;
}

.friend{
    font-size: 15px;
    font-weight: 600;
    color: #b0b3b8;
}

.fa{
    color: #727b87;
    margin: 5px;
}

.fa-instagram,.icon{
    cursor: pointer;
}

@media screen and (max-width:600px) {
    .person{
        left: 50%;
        transform: translate(-50%);
    }
    .names{
        left: 50%;
        top: 120%;
        transform: translate(-50%,-50%);
        text-align: center; 
    }
    .bottom{
        top: 60px;
    }
}